// import scss
@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
// end import

// variables
$base-color: #FAEFD8;
$second-color: #7D7563;
$accent-color: #FBDB96;
$third-color: #C7BEAB;
// end variables

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  background-color: $accent-color;
}

.logo {

  a{
      text-decoration: none;
      color: $second-color;
  }
}

.nav-links {
  display: flex;
  justify-content: space-around;
  list-style: none;
  width: 30%;

  a {
    text-decoration: none;
    color: $second-color;
  }
}

.burger {
    display: none;
}

.burger {

    div{
        width: 25px;
        height: 3px;
        background-color: $second-color;
        margin: 6px;
    }
}

@media screen and (max-width:1024px){
    .nav-links{
        width: 60%;
    }
}

@media screen and (max-width:768px){
    body {
        overflow-x: hidden;
    }

    .nav-links{
        position: fixed;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: $accent-color;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-links li {
        opacity: 0;
    }

    .burger{
        display: block;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);

    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}