@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  background-color: #FBDB96; }

.logo a {
  text-decoration: none;
  color: #7D7563; }

.nav-links {
  display: flex;
  justify-content: space-around;
  list-style: none;
  width: 30%; }
  .nav-links a {
    text-decoration: none;
    color: #7D7563; }

.burger {
  display: none; }

.burger div {
  width: 25px;
  height: 3px;
  background-color: #7D7563;
  margin: 6px; }

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 60%; } }
@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden; }

  .nav-links {
    position: fixed;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #FBDB96;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in; }

  .nav-links li {
    opacity: 0; }

  .burger {
    display: block; } }
.nav-active {
  transform: translateX(0%); }

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px); }
  to {
    opacity: 1;
    transform: translateX(0px); } }

/*# sourceMappingURL=style.css.map */
